/*Mudando fonte para todo o corpo*/
body{
    font-family: 'Open Sans',sans-serif;
}

/*Barra header - menu*/

nav{
    padding-top: 1rem;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    padding-bottom: .5rem;
    border-bottom: .15rem solid black;
    background-color: #3B618C;
}

.icone{
    width: 2.7rem;
    height: 2.7rem;
}

.titulo{
    text-decoration: none;
    color:inherit;
}
/*main Feed*/

.body_main{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}
.local{
    padding-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: gray;
}
.mudar-local{
    padding: .5rem;
    text-align: center;
    color:gray;
    font-size: 1rem;
}
.icone2{
    width:2rem;
    height:2rem;
}

.historia_head{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 1rem 0 1rem;
    padding: .3rem 1rem .3rem 1rem;
    border: .05rem solid black;
    background-color: #8CA5C2;
}

.historias{
    font-family: 'Noto Serif TC', serif;
    font-size: 1rem;
    margin: 0rem 1rem 0 1rem;
    padding: .3rem 1rem .3rem 1rem;
    border-bottom: .05rem solid black;
    border-left: .05rem solid black;
    border-right: .05rem solid black;
    text-align: justify;
    text-justify: auto;
    height: 8rem;
    width: 20rem;
    position: relative;
}

.leia_mais{
    position: absolute;
    right:0.5rem;
    bottom:0.5rem;
}

/*lista_locais*/

.enunciado{
    padding:3rem 0 3rem 0;
    text-align: center;
    font-size: 1.2rem;
    color: gray;
}

.body_locais{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

.pergunta{
    font-size:1rem;
    margin-top: 2rem;
    font-size:1.2rem;
}
.box{
    font-size:1rem;
    margin-top:0.8rem;
    display:flex;
    width:100%;
    margin-bottom: 0.3rem;
    padding:.5rem;
    border: 1px solid black;
    border-radius:.1rem;
    background-color: white;
}

.escolher_local{
    display:flex;
    flex-direction: column;
}

.submit{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #8CA5C2;
    text-decoration: none;
    color:inherit;
    padding:1rem;
    font-size:1.5rem;
    margin:5rem 2rem;
    border:.05rem solid black;
}
/*Ler História*/
.fotoperfil{
    width: 3.2rem;
    height: 3.2rem;
}
.barrahist{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0.5rem;
}
.titulohist{
    font-size: 1.5rem;
}
.autor{
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    font-size:.7rem;
}
.farol{
    margin: 1rem;
    width:15rem;
    height:9rem;
}

.main_historia{
    font-family: 'Noto Serif TC', serif;
    display:flex;
    flex-direction:column;
    text-align: justify;
    text-justify:auto;
    margin:0 1rem;
    align-items: center;
}

.rede{
    height:2rem;
    width:2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.identificar{
    display: flex;
    flex-direction: row;
}

.footer_historia{
    padding-top:1.5rem;
    display:flex;
    flex-direction: column;
}

.compartilhe{
    text-align: center;
}

figure{
    margin-top: 0.9rem;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/*Novo Post*/
.main_novopost{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

.form_historia{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_box{
    height: 2rem;
    width: 20rem;
    border: 1px solid black;
    border-radius: .1rem;
}

.historia_box{
    margin: 1rem 0;
    resize:none;
    width:20rem;
    height:30rem;
    border: 1px solid black;
    border-radius: .1rem;
}

.publicar{
    background-color: #8CA5C2;
    border: 1px solid black;
    border-radius: .2rem;
    width: 9rem;
    height:3rem;
}
/*
.anonimo{
    margin-left: 32.5rem;
    margin-top: -5rem;
}
.anonimo-texto{
    text-align: center;
    margin-top: 3rem;
    font-size: 1.5rem;
}
.texto-titulo{
    width: 5rem;
}
*/